* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: hsl(275, 100%, 97%);
    font-family: 'Work Sans', sans-serif;
}

.mobile-bg-pattern {
    display: none;
}

.faq-section {
    width: 33rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(217, 205, 205);
    margin: 0 auto;
    background: white;
    position: relative;
    top: -8rem;
    z-index: 10;
}

.faq-header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.faq-header svg {
    height: 3.5rem;
}

.faq-header h1 {
    font-size: 3.5rem;
    font-weight: 700;    
}

.question-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background: transparent;
    border: none;
    width: 100%;
}

.question {
    cursor: pointer;
    transition: color 0.2s ease-out;
    flex: 10;
    text-align: left;
    font-size: larger;
}

.question-part svg {
    cursor: pointer;
    padding: 1px;
    flex: 1;
}

.question:hover {
    color: rgb(173, 40, 235);
}

.answer {
    margin-top: 1rem;
    color: rgb(133, 128, 128);
    font-size: 0.9rem;
    line-height: 1.3rem;
    display: none;
}

.expand-answer {
    display: none;
}

.collapse-answer {
    display: none;
}

.show-icon {
    display: block;
}

.show-answer {
    display: block;
}

.attribution { 
    font-size: 12px;
    text-align: center;
    padding: 1rem 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@media (max-width: 630px) {
    .faq-section {
        width: 90%;
    }

    .faq-header h1 {
        font-size: 2rem;
        font-weight: 700;    
    }

    .faq-header svg {
        height: 2rem;
    }

    .mobile-bg-pattern {
        display: block;
    }

    .desktop-bg-pattern {
        display: none;
    }
}